.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 1.25rem;
  margin-top: 1rem;
}

@media (max-width: 25rem) {
  .buttons {
    flex-direction: column;
  }
}
