h1 {
  font-size: 1.5rem;
}

@media (min-width: 48rem) {
  h1 {
    font-size: 3rem;
  }
  .card {
    outline: 2px solid var(--accent-clr);
  }
  .card span {
    color: var(--accent-clr);
    transition: transform 0.3s ease-in-out;
  }
  .card:hover span {
    transform: rotate(360deg) scale(1.5);
  }
}
