.hero {
  display: flex;
  margin-top: 1.25rem;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.buttons {
  display: flex;
  gap: 1.25rem;
  margin-top: 1rem;
}

@media (max-width: 25rem) {
  .buttons {
    flex-direction: column;
  }
}

@media (max-width: 48rem) {
  .hero {
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
  }
  .left {
    margin-top: 3rem;
    align-items: center;
    text-align: center;
  }
  .right {
    margin-left: 1.25rem;
  }
}

@media (min-width: 48rem) {
  .hero {
    justify-content: space-between;
    align-items: center;
  }
  .right {
    margin-right: 5rem;
  }
}
