.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

@media (min-width: 48rem) {
  .light:hover {
    background-color: var(--light-hover-clr);
  }

  .dark:hover {
    background-color: var(--dark-hover-clr);
  }
}
